@import "vars";
@import "libs";
@import "fonts";

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    overflow-x: hidden;
    position: relative;
    font-family: Roboto;
}

a {
    font-family: Roboto;
}

.container{
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #646566;
    text-align: center;
}
.get-consultation {
    background: $pink;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all .3s;

    &:hover {
        box-shadow: 0px 4px 16px rgba(0,0,0,0.46), 0px 2px 4px rgba(0,0,0,0.24);
    }
}

.array {
        fill: #ffaeae;
        cursor: pointer;
        position: absolute;
        width: 42px;
        height: 42px;

        &:active{
            fill: $pink;
        }
    }
    .array-prev {
        left: 0;
        z-index: 2;
    }
    .array-next {
        right: 0;
    }

// start special offer
.special-offer {
    margin-top: 11px;
    width: 100%;
    max-width: 430px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    padding: 49px 63px 20px;

    form {
        padding: 0 2px;
    }

    label{
        display: block;
        font-size: 16px;
        line-height: 25px;
        color: #444444;
    }

    input,
    button {
        width: 100%;
        outline: none;
    }

    input {
        background: #EDEFF2;
        box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.12);
        border: none;
        border-radius: 2px;
        height: 30px;
        padding: 0 10px;
        margin-bottom: 20px;
        color: #444;
        
        &::placeholder {
            font-size: 12px;
            line-height: 15px;
            color: #939599;
        }
    }

    button {
        border: none;
        padding: 19px 0 15px;
        margin-top: 16px;
        margin-bottom: 22px;
        cursor: pointer;
    }
}
.special-offer__title {
    margin: 0;
    font-weight: bold;
    font-size: 23px;
    line-height: 32px;
    color: #444444;
    margin-bottom: 30px;
}
.special-offer__text {
    font-size: 14px;
    line-height: 18px;
    color: #80A2C5;
    padding: 0 3px;
    margin-bottom: 30px;
}
.special-offer__descr {
    font-size: 10px;
    line-height: 12px;
    color: #BCBFC4;
    text-align: center;
    position: relative;
    margin-bottom: 2px;
    padding-left: 26px;

    &::before{
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        background-image: url(../img/lock.png);
        background-repeat: no-repeat;
        left: 28px;
        top: -2px;
    }
}
// end special offer
// start header
.header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 608px;
    padding-bottom: 15px;
}
.header__top {
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding-top: 5px;
}
.menu {
    margin: 0 73px 0 auto;
    width: 100%;
    max-width: 550px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    a{
        text-decoration: none;
        font-size: 16px;
        line-height: 25px;
        color: #222222;
        padding-bottom: 3px;
        border-bottom: 0.25px solid #BCBFC4;
        transition: all .3s;

        &:hover {
            border-color: $pink;
        }
    }
}
.header__contact {
    a{
        text-decoration: none;
    }
}
.contact__tel {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #444444;
    margin-bottom: 10px;
}
.contact__back-all {
    display: inline-block;
    margin-left: 9px;
    padding: 4px 15px;
    background: $pink;
    border-radius: 2px;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.header__content {
    display: flex;
    justify-content: space-between;
}
.header__content-info {
    margin-right: 15px;
    max-width: 654px;
}
.header__content-text {
    padding-top: 40px;
    font-size: 32px;
    line-height: 37px;
    color: #444444;
    margin-bottom: 62px;

    span{
        font-weight: bold;
    }
}
.header__advantages-title {
    font-size: 23px;
    line-height: 32px;
    color: #444444;
    margin-bottom: 41px;
}
.header__advantages-items {
    display: flex;
    justify-content: space-between;
    max-width: 596px;
    padding-left: 10px;
}
.header__advantages-item {
    text-align: center;

    &.own-production {
        width: 115px;
    }

    &.new-clients {
        width: 131px;
    }

    &.quality {
        width: 171px;
    }

    img{
        margin-bottom: 17px;
    }
}
.advantages-item__text {
    font-size: 14px;
    line-height: 18px;
    color: #444444;
    text-align: center;
}
// end header
// start production
.production {
    padding: 110px 0 97px;
    border-bottom: 5px dashed rgba(0, 0, 0, 0.1);
}
.production__slider {
    padding: 79px 0 0;
    margin: 0 auto;
    .slick-track {
        display: flex;
        justify-content: space-around;
    }
    .slick-slide {
        outline: none;
        max-width: 180px;
    }
    .slick-current {
        .production__slider-item {
            background: #FAFAFA;
            box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
        }
        .slider-item__name {
            text-decoration: none;
        }
    }
}
.production__slider-item {
    
    text-align: center;
    padding: 25px 0;
    cursor: pointer;

    img {
        margin: 0 auto 33px;
    }
}
.slider-item__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #646566;
    text-decoration-line: underline;
}
.production__slider-descr {
    padding-top: 65px;
    position: relative;

    .array {
        top: 58%;
    }
}
.slider-descr__inner {
    display: flex;
    max-width: 1100px;
    padding: 0 60px;
    width: 100%;
    margin: 0 auto;
}
.slider-descr__img {
    margin-right: 85px;
}
.slider-descr__title {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: #939599;
    margin-bottom: 40px;
}
.slider-descr__text {
    font-size: 14px;
    line-height: 18px;
    color: #646566;
    margin-bottom: 39px;
}
.slider-descr__btn {
    text-decoration: none;
    display: inline-block;
    border: 2px solid #FFAEAE;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    padding: 12px 33px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.04em;
    outline: none;
    color: #FF5C5C;
}
// end production
// start indystry
.indystry {
    padding: 150px 0 100px;
}
.indystry__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px 0 0;
    margin-left: -2.5%;
}
.indystry__item {
    width: 273px;
    min-height: 260px;
    padding: 23px 15px 10px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-basis: (25% - 2.5%);
    margin-left: 29px;
}
.indystry__item-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #646566;
    margin-bottom: 30px;
}
.indystry__item-list {
    padding: 0 0 0 8px;
    margin: 0;
    list-style: none;
    font-size: 12px;
    line-height: 15px;
    color: #646566;

    li {
        padding-left: 27px;
        position: relative;
        margin-bottom: 11px;

        &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: rgba(255, 174, 174, 0.8);
            left: 0;
            top: 1px;
        }
    }
    span {
        font-weight: bold;
    }
}
.indystry__btn {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFAEAE;
    text-align: center;
    padding-top: 21px;
}
.indystry__btn-hide {
    display: inline-block;
    margin: 10px 0 56px;
    svg {
        width: 46px;
        height: 46px;
        fill: #ffaeae;
    }
}
.indystry__text {
    max-width: 395px;
    margin: 0 auto 31px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #646566;
}
.indystry__button {
    text-align: center;
    a {
        text-decoration: none;
        display: inline-block;
        margin: 0 auto;
        padding: 19px 28px 15px;
    }
}
// end indystry
// start company
.company {
    background-image: url(../img/company-bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 60px 0 116px;
    color: #646566;
}
.company__title{
    margin-bottom: 29px;
}
.company__content {
    max-width: 980px;
    margin: 0 auto;
}
.company__descr {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
}
.company__descr-list {
    padding: 5px 0 0;
    margin: 0 0 13px;
    list-style: none;
    font-size: 16px;
    line-height: 25px;
    
    span {
        display: inline-block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    li {
        margin-bottom: 5px;
    }
}
.company__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #FF5C5C;
    margin-bottom: 60px;
}
.company__advantages {
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;
}
.company__advantages-item {
    font-size: 14px;
    line-height: 18px;
    max-width: 21%;
}
.advantages-item__num {
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #FF5C5C;
    margin-bottom: 13px;

    span {
        font-size: 28px;
        line-height: 33px;
    }
}
.company__slider {
    position: relative;
    display: flex;
    padding: 0 90px;

    .array {
        top: 30%;
    }
    .slick-dots {
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        width: 100%;
        bottom: -56px;
        padding-right: 15%;
    }
    li {
        display: inline-block;

        & + li {
            margin-left: 20px;
        }
    }
    button {
        font-size: 0;
        width: 10px;
        height: 10px;
        background: #EDEFF2;
        border: 1px solid #BCBFC4;
        border-radius: 50%;
        padding: 0;
        outline: none;
        cursor: pointer;
    }
     .slick-active {
        button {
            background: rgba(255, 51, 51, 0.5);
            border-color: rgba(255, 51, 51, 0.5);
        }
    }
    .slick-slide {
        outline: none;
    }
}
.company__slider-img div{
    width: 180px;
    height: 107px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
// end company


// MEDIA
@import "media";
.production__slider {
    .slick-track {
        transform: translate3d(0px, 0px, 0px) !important;
    }
}