@import "vars";
@import "libs";
@import "fonts";

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    overflow-x: hidden;
    position: relative;
    font-family: Roboto;
}

a {
    font-family: Roboto;
}

.container{
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

// start special offer
.special-offer {
    margin-top: 11px;
    width: 100%;
    max-width: 430px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    padding: 49px 63px 20px;

    form {
        padding: 0 2px;
    }

    label{
        display: block;
        font-size: 16px;
        line-height: 25px;
        color: #444444;
    }

    input,
    button {
        width: 100%;
        outline: none;
    }

    input {
        background: #EDEFF2;
        box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.12);
        border: none;
        border-radius: 2px;
        height: 30px;
        padding: 0 10px;
        margin-bottom: 20px;
        color: #444;
        
        &::placeholder {
            font-size: 12px;
            line-height: 15px;
            color: #939599;
        }
    }

    button {
        background: $pink;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
        border: none;
        border-radius: 2px;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 19px 0 15px;
        margin-top: 16px;
        margin-bottom: 22px;
        cursor: pointer;
    }
}
.special-offer__title {
    margin: 0;
    font-weight: bold;
    font-size: 23px;
    line-height: 32px;
    color: #444444;
    margin-bottom: 30px;
}
.special-offer__text {
    font-size: 14px;
    line-height: 18px;
    color: #80A2C5;
    padding: 0 3px;
    margin-bottom: 30px;
}
.special-offer__descr {
    font-size: 10px;
    line-height: 12px;
    color: #BCBFC4;
    text-align: center;
    position: relative;
    margin-bottom: 2px;
    padding-left: 26px;

    &::before{
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        background-image: url(../img/lock.png);
        background-repeat: no-repeat;
        left: 28px;
        top: -2px;
    }
}
// end special offer
// start header
.header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 608px;
    padding-bottom: 15px;
}
.header__top {
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding-top: 5px;
}
.menu {
    margin: 0 73px 0 auto;
    width: 100%;
    max-width: 550px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    a{
        text-decoration: none;
        font-size: 16px;
        line-height: 25px;
        color: #222222;
        padding-bottom: 3px;
        border-bottom: 0.25px solid #BCBFC4;

        &:hover {
            border-color: $pink;
        }
    }
}
.header__contact {
    a{
        text-decoration: none;
    }
}
.contact__tel {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #444444;
    margin-bottom: 10px;
}
.contact__back-all {
    display: inline-block;
    margin-left: 9px;
    padding: 4px 15px;
    background: $pink;
    border-radius: 2px;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.header__content {
    display: flex;
    justify-content: space-between;
}
.header__content-info {
    margin-right: 15px;
    max-width: 654px;
}
.header__content-text {
    padding-top: 40px;
    font-size: 32px;
    line-height: 37px;
    color: #444444;
    margin-bottom: 62px;

    span{
        font-weight: bold;
    }
}
.header__advantages-title {
    font-size: 23px;
    line-height: 32px;
    color: #444444;
    margin-bottom: 41px;
}
.header__advantages-items {
    display: flex;
    justify-content: space-between;
    max-width: 596px;
    padding-left: 10px;
}
.header__advantages-item {
    text-align: center;

    &.production {
        width: 115px;
    }

    &.new-clients {
        width: 131px;
    }

    &.quality {
        width: 171px;
    }

    img{
        margin-bottom: 17px;
    }
}
.advantages-item__text {
    font-size: 14px;
    line-height: 18px;
    color: #444444;
    text-align: center;
}
// end header



// MEDIA
@import "media";